<app-navbar>
</app-navbar>

<!--nuevo-->
<div class="wrapper" style="background-color: #707070 !important;">

    <!--Algo-->
    <section class="section section-lg">
        <!-- Section: Team v.1 -->
        <section class="team-section text-center my-5">

            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold my-5">Nuestro Equipo</h2>
            <!-- Section description -->
            <p class="grey-text w-responsive mx-auto mb-5"></p>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                    <div class="avatar mx-auto">
                        <img src="../../../../assets/img/kattya.png" class="rounded-circle z-depth-1" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">KATTYA ZERIMAR RAMIREZ MENDEZ</h5>
                    <p class="text-uppercase blue-text"><strong>Arquitecta</strong></p>
                    <p class="grey-text">Universidad Francisco de Paula Santander</p>
                    <ul class="list-unstyled mb-0">
                        <!-- Facebook -->
                        <a class="p-2 fa-lg fb-ic">
                            <i class="fab fa-facebook-f blue-text"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="p-2 fa-lg tw-ic">
                            <i class="fab fa-twitter blue-text"> </i>
                        </a>
                        <!-- Instagram -->
                        <a class="p-2 fa-lg ins-ic">
                            <i class="fab fa-instagram blue-text"> </i>
                        </a>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                    <div class="avatar mx-auto">
                        <img src="../../../../assets/img/zerimar.png" class="rounded-circle z-depth-1" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">JOHANNA CAMILA CASTILLO RUBIO
                    </h5>
                    <p class="text-uppercase blue-text"><strong>Arquitecta</strong></p>
                    <p class="grey-text">Universidad Francisco de Paula Santander</p>
                    <ul class="list-unstyled mb-0">
                        <!-- Facebook -->
                        <a class="p-2 fa-lg fb-ic">
                            <i class="fab fa-facebook-f blue-text"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="p-2 fa-lg tw-ic">
                            <i class="fab fa-twitter blue-text"> </i>
                        </a>
                        <!-- Instagram -->
                        <a class="p-2 fa-lg ins-ic">
                            <i class="fab fa-instagram blue-text"> </i>
                        </a>
                    </ul>
                </div>

                <!-- Grid column -->
                <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
                    <div class="avatar mx-auto">
                        <img src="https://redprogramacioncompetitiva.com/images/JuecesRPC_Milton.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Milton Jesus Vera</h5>
                    <p class="text-uppercase blue-text"><strong>Docente </strong></p>
                    <p class="grey-text">Universidad Fancisco De Paula Santader</p>
                    <ul class="list-unstyled mb-0">
                        <!-- Facebook -->
                        <a class="p-2 fa-lg fb-ic">
                            <i class="fab fa-facebook-f blue-text"> </i>
                        </a>
                        <!-- Instagram -->
                        <a class="p-2 fa-lg ins-ic">
                            <i class="fab fa-instagram blue-text"> </i>
                        </a>
                    </ul>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-3 col-md-6 mb-md-0 mb-5">
                    <div class="avatar mx-auto">
                        <img src="../../../../assets/img/vb.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
                    </div>
                    <h5 class="font-weight-bold mt-4 mb-3">Victor Manuel Blanco Mancera</h5>
                    <p class="text-uppercase blue-text"><strong>Estudiante de Ingenieria de Sistemas</strong></p>
                    <p class="grey-text">Universidad Francisco de Paula Santander</p>
                    <ul class="list-unstyled mb-0">
                        <!-- Facebook -->
                        <a class="p-2 fa-lg fb-ic">
                            <i class="fab fa-facebook-f blue-text"> </i>
                        </a>
                        <!-- Instagram -->
                        <a class="p-2 fa-lg ins-ic">
                            <i class="fab fa-instagram blue-text"> </i>
                        </a>
                        <!-- Dribbble -->
                        <a class="p-2 fa-lg ins-ic">
                            <i class="fab fa-dribbble blue-text"> </i>
                        </a>
                    </ul>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->

                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Team v.1 -->
    </section>


    <app-footer></app-footer>
</div>