<app-navbar>
</app-navbar>

<div class="wrapper" style="background-color: #707070 !important;">
    <div class="page-header header-filter">
        <div class="squares square1"></div>
        <div class="squares square2"></div>
        <div class="squares square3"></div>
        <div class="squares square4"></div>
        <div class="squares square5"></div>
        <div class="squares square6"></div>
        <div class="squares square7"></div>
        <div class="container">
            <div class="content-center">
                <br>
                <br>
                <br>
                <br>
                <h1 class="h1-seo">•ArchITecture•</h1>
                <h3>
                    Estrategia de Monitoreo de Variables de Movilidad en el Barrio San Martin Mediante el Apoyo de Tic's en la Ciudad de Cúcuta
                </h3>

            </div>
        </div>
    </div>
    <div class="main" style="background-color: #707070 !important;">

        <div class="section section-basic" id="basic-elements" style="background-color: #707070 !important;">
            <img class="path" src="assets/img/path1.png" />

            <div class="container" style="background-color: #707070 !important;">

            </div>

            <app-footer></app-footer>
        </div>