<app-navbar></app-navbar>

<div class="wrapper" style="background-color: #707070 !important;">

    <br>
    <br>
    <div class="section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <div class="row justify-content-between align-items-center">
                        <carousel [showIndicators]="true">
                            <slide>
                                <img alt="First slide" class="d-block" src="../../../../assets/img/Etrategia Movilidad.png" />

                            </slide>

                        </carousel>
                    </div>
                </div>
                <div class="col-md-5">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 class="profile-title text-left">Mapas de Estrategias de movilidad</h1>
                    <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://vblanko.maps.arcgis.com/apps/opsdashboard/index.html#/c0cd16338ff443ad82815fb21e269622?mode=edit" target="_blank">
                        <i class="fa fa-paperclip"> </i>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <!--la 3-->
    <div class="container align-items-center">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <br>
                <br>
                <br>


                <br>
                <h1 class="profile-title text-left">Rutas de Acceso vehicular</h1>
                <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://vblanko.maps.arcgis.com/home/item.html?id=c0cd16338ff443ad82815fb21e269622l" target="_blank">
                    <i class="fa fa-paperclip"> </i>
                </a>

            </div>
            <div class="col-md-5">
                <div class="row justify-content-between align-items-center">
                    <carousel [showIndicators]="true">
                        <slide>
                            <img alt="First slide" class="d-block" src="../../../../assets/img/img1.jpeg" />


                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
    </div>

    <!--la 3-->

    <!--la 4-->
    <div class="section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <div class="row justify-content-between align-items-center">
                        <carousel [showIndicators]="true">
                            <slide>
                                <img alt="First slide" class="d-block" src="../../../../assets/img/opcion2.png" />

                            </slide>

                        </carousel>
                    </div>
                </div>
                <div class="col-md-5">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 class="profile-title text-left">Estrategia de monitoreo de variables de movilidad (Mapa)</h1>

                    <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://vblanko.maps.arcgis.com/home/item.html?id=c0cd16338ff443ad82815fb21e269622l" target="_blank">
                        <i class="fa fa-paperclip"> </i>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <!--la 4-->

    <!--Footer-->
    <app-footer></app-footer>
    <!--Footer-->
</div>