<app-navbar></app-navbar>


<div class="wrapper" style="background-color: #707070 !important;">
    <br>
    <br>
    <br>
    <br>

    <div class="section">
        <div class="container align-items-center">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <br>
                    <br>
                    <br>
                    <br>

                    <h1 class="profile-title text-left">Mapa Recorrido 3D Barrio San Martin</h1>
                </div>
                <div class="col-md-5">
                    <div class="row justify-content-between align-items-center">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/VzKErB2jQNo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <div class="row justify-content-between align-items-center">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/iJOG1yDG9ec" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-md-5">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h1 class="profile-title text-left">Estrategia de monitoreo de movilidad (YOLO)</h1>

                    <!-- <div class="btn-wrapper pt-3">
                        <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://www.laopinion.com.co/cucuta/senti-que-me-dieron-en-la-cara-con-la-puerta-203517?platform=hootsuite" target="_blank">
                            <i class="fa fa-paperclip"> </i>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>





    <app-footer></app-footer>
    <!--Footer-->
</div>